nav{
    width: 80%;
    height: 52px;
    flex-shrink: 0;
    background-color: rgba(12, 23, 37, 0.50);
    border: 1px solid var(--white-color);
    box-shadow: 0 -3px 5px 0 rgba(255, 255, 255, 0.07) inset, 0 5px 8px 0 rgba(0, 0, 0, 0.50) inset;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(5px);
    position: sticky;
    top: 13px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    list-style: none;
}

nav ul li a {
    font-size: 16px;
    font-weight: 400;
    color: var(--white-color);
    text-decoration: none;
}